.form_element {
  margin: 10px;
}

.pie_data {
  height: 600px;
  width: 1000px;
}

.contributions_data {
  height: 200px;
  width: 1000px;
}

.network_data {
  height: 1000px;
  width: 1000px;
}

.repos {
  width: 1000px;
}

.repos_parent {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
}

.repos_image {
  margin-left: auto;
  margin-right: auto;
}

.repo_contributions {
  width: 1000px;
  height: 600px;
}
